<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.instagram.feed.dao.IFeedRepository">

	<select id="countContent" parameterType="String" resultType="int">
		<![CDATA[
			select count(feed_no) 
			from feed
			where member_id=#{memberId}
		
		]]>
	</select>
	
	<select id="countFollower" parameterType="String" resultType="int">
		<![CDATA[
			select count(from_id)
			from follow
			where to_id=#{memberId}
		]]>
	</select>
	
	<select id="countFollow" parameterType="String" resultType="int">
		<![CDATA[
			select count(to_id)
			from follow
			where from_id=#{memberId}
		]]>
	</select>
	
	<select id="selectFollowerByUser" parameterType="String" resultType="String">
		<![CDATA[
			select nickname
			from member
			where member_id=(select from_id 
				   from follow 
				   where to_id=#{memberId});
		]]>
	</select>
	
	<select id="selectFollowByUser" parameterType="String" resultType="String">
		<![CDATA[
			select nickname
			from member
			where member_id=(select to_id
							from follow
							where from_id=#{memebrId});
		]]>
	</select>
	
	<select id="selectContentListByUser" parameterType="String" resultType="byte">
		<![CDATA[
			select file_data
			from file
			where feed_no in (select feed_no
							  from feed
							  where member_id=${memberId});
			
		]]>
	</select>
	
	<select id="insertFeedData" parameterType="com.kosa.instagram.model.FeedVo">
		<![CDATA[
			
			
		]]>
	</select>
	

</mapper>