@charset "UTF-8";
.main{
	padding-bottom: 200px;
}
body{
	line-height: normal !important;
}
.feed-ul{
	width: 800px;
	margin: 0 auto;
	background-color: white;
}
.feed-li{
	height: 650px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 8px;
	margin-top:30px;
}
.feed-img-box{
	width: 450px;
	overflow: hidden;
	border-right: 1px solid rgb(219, 219, 219);
}
.feed-img-box span{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
.feed-img-box .place{
    font-size: 11px;
    color: gray;
    font-weight: bold;
}
.feed-img-box p{
	display: inline-block;
    position: relative;
    top: 8px;
}
.feed-header{
	height: 55px;
	padding-left: 15px;
}
.feed-img{
	width: 450px;
	height: 600px;
}

.feed-desc-box{
	width: 350px;
}
.feed-desc-box ol{
	padding: 10px 0 0 10px;
    height: 600px;
}
.feed-desc-box li:nth-child(1){
	margin-bottom: 10px;	
}
.feed-desc-box li:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin: 5px 0;
}
.upload-date{
	color: #8E8E8E;
	font-size: 10px !important;	
}
.feed-desc-box span{
	font-size: 14px;
}
.feed-desc-box img{
	width: 24px;
	cursor: pointer;
	margin-right: 10px;
}
.feed-desc-box form{
	padding-top: 5px;
	border-top: 1px solid rgb(219,219,219);
}
.feed-desc-box form img{
	position: relative;
   	left: 10px;
}
.feed-desc-box form input[type="text"]{
    height: 40px;
    border: none;
    width: 265px;
    padding-left: 10px;
    font-size: 14px;
}
.feed-desc-box form input[type="submit"]{
	color: #0095F6;
	background: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
}
.hashtag{
    color: #00376B;
}
.reply-list{
	height: 460px;
    overflow: auto;
}
.reply-list p{
	margin-bottom: 0;
}
 .reply-list::-webkit-scrollbar {
    width: 0px;
} 
.reply-list>div{
	margin-top: 10px;
}
.reply-profile{
	bottom: 8px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px;
    display: inline-block;
    position: relative;
   	margin-right: 3px !important;
   	z-index: 0;
   	
}
#placeTitle{
    display: inline-block;
    height: 10px;
}
.nullPlace{
    top: 14px !important;
}
/* modal - kakao map  */
#map{
	margin: 50px auto;
    border: 2px solid rgb(219,219,219);
    border-radius: 10px;
}
.modal{
	left: -158px !important;
}
#modal-map .modal-content{
    width: 800px;
    height: 800px;
    overflow: auto;	
}
 .modal-content::-webkit-scrollbar {
    width: 0px;
} 
